

  <div class="container">
   <header>
      <div class='col-sm-2'>
    <%= image_tag('game.jpeg',class: 'img-responsive') %>
    </div>
   
    <div class="col-sm-6"><div id='titlebox'>RESISTANCE AVALON</div></div>
   
    <div class="col-sm-4"><%= image_tag('images.jpeg',id: 'board', class: 'img-responsive') %> </div>  

   </header>
   <div class='clearfix'></div>
   <br/><br/>



     <button id='restart'> Restart</button> 
    <h3 class='animated rubberBand'> Number of players</h3>
    <br/>
        <div class="row">
            <div class="col-xs-2 playerChoice">
                <div class="well box" id="box5">5</div>
            </div>
            <div class="col-xs-2 playerChoice six">
                <div class="well box" id="box6">6</div>
            </div>
            <div class="col-xs-2 playerChoice">
                <div class="well box" id="box7">7</div>
            </div>
            <div class="col-xs-2 playerChoice">
                <div class="well box" id="box8">8</div>
            </div>
            <div class="col-xs-2 playerChoice">
                <div class="well box" id="box9">9</div>
            </div>
            <div class="col-xs-2 playerChoice">
                <div class="well box" id="box10">10</div>
            </div>
        </div> 



    </div>


     <div class="container howMany" id="howMany">
        <div class="row numplayer">
            <div class="col-sm-6">
               <div class="cardCounter" id="goodside"><h1 id="goodCardCount" class=" anim blue"></h1>from the Good Side </div>
            </div>
            <div class="col-sm-6">
                <div  id='evilside'><h1 id="evilCardCount" class='anim orange'></h1> from the Evil Side</div>
            </div>
        </div>

        <!--  deck with 5 players-->
      
            <div class="row box box5">
              <div class="col-sm-6">
                 <div class="well deckg deck5">
                  <div class="col-sm-4 border"><%= image_tag('merlin.JPG', class: 'img-responsive tag') %>  Merlin</div>
                  <div class="col-sm-4 border rpercival"><img src='/assets/loyal.jpeg' class='img-responsive newPercival', id='newPercival'><span class='perctitle'>Loyal Servant of Arthur</span></div>
                  <div class="col-sm-4 border"><%= image_tag('loyal2.JPG', class: 'img-responsive tag') %>Loyal Servant of Arthur</div>
                 </div>
               </div>

            <div class="col-sm-6">
                <div class="well decke deck5 deck5ev"><div class="col-sm-4 col-sm-offset-1"><%= image_tag('assassin.jpeg', class: 'img-responsive tag') %> Assassin</div>
                <div class="col-sm-4 col-sm-offset-1 open minion"><%= image_tag('minion.jpeg', class: 'img-responsive tag img1') %><span class='title1'>Minion of Mordred</span>
                     <br/><br/>
                 </div>
               </div>
            </div>
        </div>
          <!-- end of deck with 5 players -->


          <!-- deck with 6 players -->
           <div class="row box box6">
              <div class="col-sm-6">
                 <div class="well deckg deck6">
                  <div class="col-sm-3 border"><%= image_tag('merlin.JPG', class: 'img-responsive tag') %>  Merlin</div>
                  <div class="col-sm-3 border" id="rpercival"><img src='/assets/loyal2.JPG' class='img-responsive newPercival'><span class='perctitle'>Loyal Servant of Arthur</span></div>
                  <div class="col-sm-3 border"><%= image_tag('loyal4.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur </div>
                  <div class="col-sm-3 border"><%= image_tag('loyal5.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur </div>
               </div>
           </div>

            <div class="col-sm-6">
                <div class="well decke deck6"><div class="col-sm-3 col-sm-offset-1"><%= image_tag('assassin.jpeg', class: 'img-responsive tag') %> Assassin6</div>
                <div class="col-sm-3 col-sm-offset-1 open minion"><%= image_tag('minion2.JPG', class: 'img-responsive tag img1') %><span class='title1'>Minion of Mordred</span>
                     <br/><br/>
                 </div>
               </div>
            </div>
        </div>
       <!--   end of deck with 6 players -->

        <!-- deck for 7 players -->
            <div class="row box box7">
              <div class="col-sm-6">
                 <div class="well deckg deck6">
                  <div class="col-sm-3 border"><%= image_tag('merlin.JPG', class: 'img-responsive tag') %>  Merlin</div>
                  <div class="col-sm-3 border" id="rpercival"><img src='/assets/loyal3.JPG' class='img-responsive newPercival'><span class='perctitle'>Loyal Servant of Arthur</span></div>
                  <div class="col-sm-3 border"><%= image_tag('loyal.jpeg', class: 'img-responsive tag') %>  Loyal Servant of Arthur </div>
                  <div class="col-sm-3 border"><%= image_tag('loyal4.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur </div>
               </div>
           </div>

            <div class="col-sm-6">
                <div class="well decke deck6"><div class="col-sm-3"><%= image_tag('assassin.jpeg', class: 'img-responsive tag') %> Assassin6</div>
                <div class="col-sm-3 col-sm-offset-1 open minion"><%= image_tag('minionlast.JPG', class: 'img-responsive tag img1') %><span class='title1'>Minion of Mordred</span>
                     
                 </div>
                 <div class="col-sm-3 col-sm-offset-1 open minion"><%= image_tag('minion2.JPG', class: 'img-responsive tag img2') %><span class='title2'>Minion of Mordred</span>
                 </div>
              </div>
            </div>
        </div>
      
       <!-- end of deck for 7 players -->

       <!--  deck of 8 players -->
          <div class="row box box8">
              <div class="col-sm-6">
                 <div class="well deckg deck8">
                  <div class="col-sm-4 border"><%= image_tag('merlin.JPG', class: 'img-responsive tag',id: 'merlin8') %>  Merlin</div>
                  <div class="col-sm-4 border" id="rpercival"><img src='/assets/loyal4.JPG' class='img-responsive newPercival'><span class='perctitle'>Loyal Servant of Arthur</span></div>
                  <div class="col-sm-4 border"><%= image_tag('loyal.jpeg', class: 'img-responsive tag') %>  Loyal Servant of Arthur</div>
                  <div class="col-sm-12">
                    <div class="col-sm-4">
                        <%= image_tag('loyal2.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur
                    </div>
                    <div class="col-sm-4">
                        <%= image_tag('loyal3.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur 
                    </div>
                  </div>
               </div>
             </div>
           
            <div class="col-sm-6">
                <div class="well decke deck8"><div class="col-sm-4"><%= image_tag('assassin.jpeg', class: 'img-responsive tag') %> Assassin</div>
                <div class="col-sm-4  open minion"><%= image_tag('minion2.JPG', class: 'img-responsive tag img1',id: 'middle7') %><span class='title1'>Minion of Mordred</span>
                     
                 </div>
                 <div class="col-sm-4  open minion"><%= image_tag('minion.jpeg', class: 'img-responsive tag img2') %><span class='title2'>Minion of Mordred</span>
                 </div>
               </div>
            </div>
        </div>
       <!--   end of deck for 8 players -->

      <!-- deck of 9 players -->
       <div class="row box box9">
              <div class="col-sm-6" id="deck8">
                 <div class="well deckg deck8">
                  <div class="col-sm-4 border"><%= image_tag('merlin.JPG',id: 'merlin8', class: 'img-responsive tag', ) %>  Merlin</div>
                  <div class="col-sm-4 border" id="rpercival"><img src='/assets/loyal5.JPG' class='img-responsive newPercival'><span class='perctitle'>Loyal Servant of Arthur</span></div>
                  <div class="col-sm-4 border"><%= image_tag('loyal.jpeg', class: 'img-responsive tag') %>  Loyal Servant of Arthur </div>
                  <div class="col-sm-12">
                    <div class="col-sm-4">
                        <%= image_tag('loyal4.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur
                    </div>
                    <div class="col-sm-4">
                        <%= image_tag('loyal3.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur
                    </div>
                    <div class="col-sm-4">
                        <%= image_tag('loyal2.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur
                    </div>
                  </div>
                </div>
            </div>
              
            <div class="col-sm-6">
                <div class="well decke deck8 deck8ev"><div class="col-sm-4"><%= image_tag('assassin.jpeg', class: 'img-responsive tag') %> Assassin</div>
                 <div class="col-sm-4  open minion"><%= image_tag('minion.jpeg', class: 'img-responsive tag img1', id: 'middle') %><span class='title1'>Minion of Mordred</span>
                 </div>
                 <div class="col-sm-4  open minion"><%= image_tag('minionlast.JPG', class: 'img-responsive tag img2') %><span class='title2'>Minion of Mordred</span>
                     
                 </div>
                </div>
            </div>
        </div>

      <!-- end of deck of 9 players -->


        <!-- deck with 10 players -->
          
        <div class="row box box10">
              <div class="col-sm-6" id="deck8">
                 <div class="well deckg deck10">
                  <div class="col-sm-4 border"><%= image_tag('merlin.JPG', class: 'img-responsive tag') %>  Merlin</div>
                  <div class="col-sm-4 border" id="rpercival"><img src='/assets/loyal.jpeg' class='img-responsive newPercival'><span class='perctitle'>Loyal Servant of Arthur</span></div>
                  <div class="col-sm-4 border"><%= image_tag('loyal2.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur</div>
                  <div class="col-sm-12">
                    <div class="col-sm-4">
                        <%= image_tag('loyal3.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur
                    </div>
                    <div class="col-sm-4">
                        <%= image_tag('loyal4.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur
                    </div>
                    <div class="col-sm-4">
                        <%= image_tag('loyal5.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur
                    </div>

                  </div>
                </div>
             </div>
              <div><button id='restart'> Restart</button></div> 
            <div class="col-sm-6">
                <div class="well decke deck10"><div class="col-sm-4"><%= image_tag('assassin.jpeg', class: 'img-responsive tag', id:'assassin') %> Assassin</div>
                <div class="col-sm-4  open minion"><%= image_tag('minion.jpeg', class: 'img-responsive tag img1') %><span class='title1'>Minion of Mordred</span>
                     
                 </div>
                 <div class="col-sm-4  open minion"><%= image_tag('minion2.JPG', class: 'img-responsive tag img2') %><span class='title2'>Minion of Mordred</span>
                     
                 </div>
                  <div class="col-sm-4  open minion"><%= image_tag('minionlast.JPG', class: 'img-responsive tag img3') %><span class='title2'>Minion of Mordred</span>
                </div>
               </div>
            </div>
        </div>
        <!-- end of deck with 10 players -->

       <!-- buttons to add characters -->
        <div class="row">
              <div class="col-sm-6">
                <div class=""><a href="#" class="popper" data-popbox="pop4"><button id="percival"> Add Percival (optional)</button></a></div>

              </div>
              <div class="col-sm-6">
                <div class=""><div class='evilbuttonsdiv'>
                   <a href="#" class="popper" data-popbox="pop1"><button class='evilbutton' id="morgana">Add Morgana (optional)</button></a>&nbsp &nbsp<a href="#" class="popper" data-popbox="pop2"><button class='evilbutton' id="mordred">Add Mordred (optional)</button></a>&nbsp &nbsp<a href="#" class="popper" data-popbox="pop3"><button class='evilbutton'id="oberon">Add Oberon (optional)</button></a>
                </div> 
              </div>
          </div>
          <div class='row'>
            <div class='col-sm-3 col-sm-offset2'>
              Percival knows who Merlin is
            </div>

          </div>  
          </div>  
        </div>  
    </div>

<div id="pop1" class="popbox">
    <h2>Morgana</h2>
    <p>Appears to be Merlin, revealing herself to Percival as Merlin</p>
</div>
<div id="pop2" class="popbox">
    <h2>Mordred</h2>
    <p>His identity is not revealed to Merlin at the start of the game</p>
</div>
<div id="pop3" class="popbox">
    <h2>Oberon</h2>
    <p>Doesn't reveal himself to the other evil players, nor does he gain knowledge of the other Evil
      players at the start of the game. Oberon is on the Evil side. Yet, adding him to the game will make the Good side more powerful</p>
</div>
<div id="pop4" class="popbox">
  <h2>Percival</h2>
    <p>knows who Merlin is at the start of the game (key for protecting Merlin's identity)</p>
</div>

  <!--   Display audio player -->

  <div class=' container audio'>
    <div id='basic'>
        <p>All players close their eyes <br/> and follow the directions from the audio file</p>
      <%=audio_tag("basic.mp3",controls: true) %>
    </div>  
    <div id='Mmop'>
        <p>All players close their eyes <br/> and follow the directions from the audio file</p>
        <%=audio_tag("Mmop.mp3",controls: true) %>
      </div>
    <div id='Mmp'>
        <p>All players close their eyes <br/> and follow the directions from the audio file</p>
        <%=audio_tag("Mmp.mp3",controls: true) %>
    </div>
    <div id='Mo'>
        <p>All players close their eyes <br/> and follow the directions from the audio file</p>
        <%=audio_tag("Mo.mp3",controls: true) %>
    </div>
    <div id='Mop'>
        <p>All players close their eyes <br/> and follow the directions from the audio file</p>
        <%=audio_tag("Mop.mp3",controls: true) %>
    </div>
    <div id='mordred1'>
        <p>All players close their eyes <br/> and follow the directions from the audio file</p>
        <%=audio_tag("mordred1.mp3",controls: true) %>
    </div>
    <div id='morgObePer'>
        <p>All players close their eyes <br/> and follow the directions from the audio file</p>
        <%=audio_tag("morgObePer.mp3",controls: true) %>
    </div>
     <div id='morgPercival'>
        <p>All players close their eyes <br/> and follow the directions from the audio file</p>
        <%=audio_tag("morgPercival.mp3",controls: true) %>
    </div>
    <div id='Mp'>
        <p>All players close their eyes <br/> and follow the directions from the audio file</p>
        <%=audio_tag("Mp.mp3",controls: true) %>
    </div>
     <div id='obePer'>
        <p>All players close their eyes <br/> and follow the directions from the audio file</p>
        <%=audio_tag("obePer.mp3",controls: true) %>
    </div>
     <div id='oberon1'>
        <p>All players close their eyes <br/> and follow the directions from the audio file</p>
        <%=audio_tag("oberon.mp3",controls: true) %>
    </div>
    <div id='percival1'>
        <p>All players close their eyes <br/> and follow the directions from the audio file</p>
        <%=audio_tag("percival.mp3",controls: true) %>
    </div>
 </div>


    <!-- Button done choosing characters -->

    <div class="container">

        <button class='btn' id="activatePlayer"> Done Choosing Characters</button>    
           
    
</div>
<!-- <div id="pop1" class="popbox">
    <h2>Morgana</h2>
    <p>knows who Percival is</p>
</div>
<div id="pop2" class="popbox">
    <h2>Mordred</h2>
    <p>Knows who Merlin is</p>
</div> -->
 


   <div id='bottom'>
    b
   </div>
