

  <div class="container">
    <h1 id='title'> RESISTANCE AVALON</h1>
 
    <p><em class = 'animated rubberBand'> First, pick the number of players</em>
        <div class="row">
            <div class="col-xs-2 playerChoice blue">
                <div class="well box" id="box5">5</div>
            </div>
            <div class="col-xs-2 playerChoice six">
                <div class="well box" id="box6">6</div>
            </div>
            <div class="col-xs-2 playerChoice">
                <div class="well box" id="box7">7</div>
            </div>
            <div class="col-xs-2 playerChoice">
                <div class="well box" id="box8">8</div>
            </div>
            <div class="col-xs-2 playerChoice">
                <div class="well box" id="box9">9</div>
            </div>
            <div class="col-xs-2 playerChoice">
                <div class="well box" id="box10">10</div>
            </div>
        </div>  

    </div>

     <div class="container howMany" id="howMany">
        <div class="row">
            <div class="col-sm-6">
               <div class="cardCounter"><h1 id="goodCardCount" class="anim blue"></h1>from the Good Side </div>
            </div>
            <div class="col-sm-6">
                <div class=""><h1 id="evilCardCount" class='anim orange'></h1> from the Evil Side</div>
            </div>
        </div>

        <!--  deck with 5 players-->
      
            <div class="row box box5">
              <div class="col-sm-6">
                 <div class="well deck5">
                  <div class="col-sm-4 border"><%= image_tag('merlin.jpeg', class: 'img-responsive tag') %>  Merlin</div>
                  <div class="col-sm-4 border rpercival"><img src='/assets/loyal.jpeg' class='img-responsive newPercival', id='newPercival'><span class='perctitle'>Loyal Servant of Arthur</span></div>
                  <div class="col-sm-4 border"><%= image_tag('loyal2.JPG', class: 'img-responsive tag') %>Loyal Servant of Arthur</div>
                 </div>
               </div>

            <div class="col-sm-6">
                <div class="well deck5 deck5ev"><div class="col-sm-4 col-sm-offset-1"><%= image_tag('assassin.jpeg', class: 'img-responsive tag') %> Assassin</div>
                <div class="col-sm-4 col-sm-offset-1 open minion"><%= image_tag('minion.jpeg', class: 'img-responsive tag img1') %><span class='title1'>Minion of Mordred</span>
                     <br/><br/>
                 </div>
               </div>
            </div>
        </div>
          <!-- end of deck with 5 players -->


          <!-- deck with 6 players -->
           <div class="row box box6">
              <div class="col-sm-6">
                 <div class="well deck6">
                  <div class="col-sm-3 border"><%= image_tag('merlin.jpeg', class: 'img-responsive tag') %>  Merlin</div>
                  <div class="col-sm-3 border" id="rpercival"><img src='/assets/loyal2.JPG' class='img-responsive newPercival'><span class='perctitle'>Loyal Servant of Arthur</span></div>
                  <div class="col-sm-3 border"><%= image_tag('loyal4.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur </div>
                  <div class="col-sm-3 border"><%= image_tag('loyal5.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur </div>
               </div>
           </div>

            <div class="col-sm-6">
                <div class="well deck6"><div class="col-sm-3 col-sm-offset-1"><%= image_tag('assassin.jpeg', class: 'img-responsive tag') %> Assassin6</div>
                <div class="col-sm-3 col-sm-offset-1 open minion"><%= image_tag('minion.jpeg', class: 'img-responsive tag img1') %><span class='title1'>Minion of Mordred</span>
                     <br/><br/>
                 </div>
               </div>
            </div>
        </div>
       <!--   end of deck with 6 players -->

        <!-- deck for 7 players -->
            <div class="row box box7">
              <div class="col-sm-6">
                 <div class="well deck6">
                  <div class="col-sm-3 border"><%= image_tag('merlin.jpeg', class: 'img-responsive tag') %>  Merlin</div>
                  <div class="col-sm-3 border" id="rpercival"><img src='/assets/loyal3.JPG' class='img-responsive newPercival'><span class='perctitle'>Loyal Servant of Arthur</span></div>
                  <div class="col-sm-3 border"><%= image_tag('loyal.jpeg', class: 'img-responsive tag') %>  Loyal Servant of Arthur </div>
                  <div class="col-sm-3 border"><%= image_tag('loyal4.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur </div>
               </div>
           </div>

            <div class="col-sm-6">
                <div class="well deck6"><div class="col-sm-3"><%= image_tag('assassin.jpeg', class: 'img-responsive tag') %> Assassin6</div>
                <div class="col-sm-3 col-sm-offset-1 open minion"><%= image_tag('minion.jpeg', class: 'img-responsive tag img1') %><span class='title1'>Minion of Mordred</span>
                     
                 </div>
                 <div class="col-sm-3 col-sm-offset-1 open minion"><%= image_tag('minion.jpeg', class: 'img-responsive tag img2') %><span class='title2'>Minion of Mordred</span>
                 </div>
              </div>
            </div>
        </div>
      
       <!-- end of deck for 7 players -->

       <!--  deck of 8 players -->
          <div class="row box box8">
              <div class="col-sm-6">
                 <div class="well deck8">
                  <div class="col-sm-4 border"><%= image_tag('merlin.jpeg', class: 'img-responsive tag') %>  Merlin</div>
                  <div class="col-sm-4 border" id="rpercival"><img src='/assets/loyal4.JPG' class='img-responsive newPercival'><span class='perctitle'>Loyal Servant of Arthur</span></div>
                  <div class="col-sm-4 border"><%= image_tag('loyal.jpeg', class: 'img-responsive tag') %>  Loyal Servant of Arthur</div>
                  <div class="col-sm-12">
                    <div class="col-sm-4">
                        <%= image_tag('loyal2.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur
                    </div>
                    <div class="col-sm-4">
                        <%= image_tag('loyal3.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur 
                    </div>
                  </div>
               </div>
             </div>
           
            <div class="col-sm-6">
                <div class="well deck8"><div class="col-sm-4"><%= image_tag('assassin.jpeg', class: 'img-responsive tag') %> Assassin</div>
                <div class="col-sm-4  open minion"><%= image_tag('minion.jpeg', class: 'img-responsive tag img1') %><span class='title1'>Minion of Mordred</span>
                     
                 </div>
                 <div class="col-sm-4  open minion"><%= image_tag('minion.jpeg', class: 'img-responsive tag img2') %><span class='title2'>Minion of Mordred</span>
                 </div>
               </div>
            </div>
        </div>
       <!--   end of deck for 8 players -->

      <!-- deck of 9 players -->
       <div class="row box box9">
              <div class="col-sm-6" id="deck8">
                 <div class="well deck8">
                  <div class="col-sm-4 border"><%= image_tag('merlin.jpeg', class: 'img-responsive tag') %>  Merlin</div>
                  <div class="col-sm-4 border" id="rpercival"><img src='/assets/loyal5.JPG' class='img-responsive newPercival'><span class='perctitle'>Loyal Servant of Arthur</span></div>
                  <div class="col-sm-4 border"><%= image_tag('loyal.jpeg', class: 'img-responsive tag') %>  Loyal Servant of Arthur </div>
                  <div class="col-sm-12">
                    <div class="col-sm-4">
                        <%= image_tag('loyal4.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur
                    </div>
                    <div class="col-sm-4">
                        <%= image_tag('loyal3.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur
                    </div>
                    <div class="col-sm-4">
                        <%= image_tag('loyal2.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur
                    </div>
                  </div>
                </div>
            </div>
              
            <div class="col-sm-6">
                <div class="well deck8 deck8ev"><div class="col-sm-4"><%= image_tag('assassin.jpeg', class: 'img-responsive tag') %> Assassin</div>
                 <div class="col-sm-4  open minion"><%= image_tag('minion.jpeg', class: 'img-responsive tag img1', id: 'middle') %><span class='title1'>Minion of Mordred</span>
                 </div>
                 <div class="col-sm-4  open minion"><%= image_tag('minion.jpeg', class: 'img-responsive tag img2') %><span class='title2'>Minion of Mordred</span>
                     
                 </div>
                </div>
            </div>
        </div>

      <!-- end of deck of 9 players -->


        <!-- deck with 10 players -->
          
        <div class="row box box10">
              <div class="col-sm-6" id="deck8">
                 <div class="well deck10">
                  <div class="col-sm-4 border"><%= image_tag('merlin.jpeg', class: 'img-responsive tag') %>  Merlin</div>
                  <div class="col-sm-4 border" id="rpercival"><img src='/assets/loyal.jpeg' class='img-responsive newPercival'><span class='perctitle'>Loyal Servant of Arthur</span></div>
                  <div class="col-sm-4 border"><%= image_tag('loyal2.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur</div>
                  <div class="col-sm-12">
                    <div class="col-sm-4">
                        <%= image_tag('loyal3.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur
                    </div>
                    <div class="col-sm-4">
                        <%= image_tag('loyal4.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur
                    </div>
                    <div class="col-sm-4">
                        <%= image_tag('loyal5.JPG', class: 'img-responsive tag') %>  Loyal Servant of Arthur
                    </div>
                  </div>
                </div>
             </div>
              
            <div class="col-sm-6">
                <div class="well deck10"><div class="col-sm-4"><%= image_tag('assassin.jpeg', class: 'img-responsive tag', id:'assassin') %> Assassin</div>
                <div class="col-sm-4  open minion"><%= image_tag('minion.jpeg', class: 'img-responsive tag img1') %><span class='title1'>Minion of Mordred</span>
                     
                 </div>
                 <div class="col-sm-4  open minion"><%= image_tag('minion.jpeg', class: 'img-responsive tag img2') %><span class='title2'>Minion of Mordred</span>
                     
                 </div>
                  <div class="col-sm-4  open minion"><%= image_tag('minion.jpeg', class: 'img-responsive tag img3') %><span class='title2'>Minion of Mordred</span>
                </div>
               </div>
            </div>
        </div>
        <!-- end of deck with 10 players -->

       <!-- buttons to add characters -->
        <div class="row">
              <div class="col-sm-6">
                <div class="well"> <button id="percival"> Add Percival (optional)</button> </div>
              </div>
              <div class="col-sm-6">
                <div class="well"><div class='evilbuttonsdiv'>
                   <button class='evilbutton' id="morgana">Add Morgana (optional)</button>&nbsp &nbsp<button class='evilbutton' id="mordred">Add Mordred (optional)</button>&nbsp &nbsp<button class='evilbutton'id="oberon">Add Oberon (optional)</button>
                </div> 
              </div>
          </div>
          </div>    
        </div>  
    </div>


  <!--   Display audio player -->

  <div class=' container audio'>
    <div id='basic'>
      <%=audio_tag("basic.mp3",controls: true) %>
    </div>  
    <div id='Mmop'>
        <%=audio_tag("Mmop.mp3",controls: true) %>
      </div>
    <div id='Mmp'>
        <%=audio_tag("Mmp.mp3",controls: true) %>
    </div>
    <div id='Mo'>
        <%=audio_tag("Mo.mp3",controls: true) %>
    </div>
    <div id='Mop'>
        <%=audio_tag("Mop.mp3",controls: true) %>
    </div>
    <div id='mordred1'>
        <%=audio_tag("mordred1.mp3",controls: true) %>
    </div>
    <div id='morgObePer'>
        <%=audio_tag("morgObePer.mp3",controls: true) %>
    </div>
     <div id='morgPercival'>
        <%=audio_tag("morgPercival.mp3",controls: true) %>
    </div>
    <div id='Mp'>
        <%=audio_tag("Mp.mp3",controls: true) %>
    </div>
     <div id='obePer'>
        <%=audio_tag("obePer.mp3",controls: true) %>
    </div>
     <div id='oberon1'>
        <%=audio_tag("oberon.mp3",controls: true) %>
    </div>
    <div id='percival1'>
        <%=audio_tag("percival.mp3",controls: true) %>
    </div>
 </div>


    <!-- Button done choosing characters -->

    <div class="container">
        <button class='btn-large warning' id="activatePlayer"> Done Choosing characters</button>
            <%= link_to 'Restart', " ", :class => "btn btn-large btn-info", :id => "restart" %>
    </div>


   <div id='bottom'>
    b
   </div>
